<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактровать контакт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../resources/css/bootstrap.css"/>
    <link rel="stylesheet" href="../resources/css/bootstrap-theme.css"/>
</head>
<body>
<style>
    p {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 2pt;
    }
</style>
<h1>Текущий контакт:</h1>

<form action="#" th:action="@{'/contacts/edit/' + ${contact.id}}" th:object="${contact}" method="post">
    Имя:
    <p><input type="text" th:value="${contact.firstName}" th:field="*{firstName}"/></p>
    Фамилия:
    <p><input type="text" th:value="${contact.lastName}" th:field="*{lastName}"/></p>
    Отчество:
        <p><input type="text" th:value="${contact.middleName}" th:field="*{middleName}"/></p>
    Телефон мобильный:
    <p><input type="text" th:value="${contact.mobileNumber}" th:field="*{mobileNumber}"/></p>
    Телефон домашний:
        <p><input type="text" th:value="${contact.homeNumber}" th:field="*{homeNumber}"/></p>
    Адрес:
    <p><input type="text" th:value="${contact.address}" th:field="*{address}"/></p>
    E-mail:
        <p><input type="text" th:value="${contact.email}" th:field="*{email}"/></p>
    <input type="submit" value="Отправить"/> <input type="reset" value="Отменить"/>

</form>
</body>
</html>