<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактровать контакт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../resources/css/bootstrap-theme.css" />
</head>
<body>
<style>
p {
border: 1px solid #dddddd;
text-align: left;
padding: 6pt;
}
</style>
<h1>Текущий контакт:</h1>

<!--/*@thymesVar id="contact" type="groovy"*/-->
<form action="#" th:action="@{'/contacts/edit/' + ${contact.id}}" th:object="${contact}" method="post">
    <p>Имя:
        <input type="text" th:value="${contact.firstName}" th:field="*{firstName}" />
    </p>
    <p>
        Фамилия:
        <input type="text" th:value="${contact.lastName}" th:field="*{lastName}" />
    </p>
    <p>
        Отчество:
        <input type="text" th:value="${contact.middleName}" th:field="*{middleName}" />
    </p>
    <p>
        телефон мобильный:
        <input type="text" th:value="${contact.mobileNumber}" th:field="*{mobileNumber}" />
    </p>
    <p>
        телефон домашний:
        <input type="text" th:value="${contact.homeNumber}" th:field="*{homeNumber}" />
    </p>
    <p>
        адрес:
        <input type="text" th:value="${contact.address}" th:field="*{address}" />
    </p>
    <p>
        Email:
        <input type="text" th:value="${contact.email}" th:field="*{email}" />
    </p>
    <p>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </p>
</form>
</body>
</html>