<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Стартовая страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<h1>Страница входа</h1>
<div th:switch="${loginStatus}">
    <div th:case="true">
        <h4>Добро пожаловать!:</h4>
        <p th:text="'Логин : ' + ${user.login} " />
        <p th:text="'Пароль : ' + ${user.password}" />
        <a th:href="@{/contacts}">Управление контактами</a>
    </div>
    <div th:case="false">
        <h4>Неверный логин или пароль</h4>
        <a th:href="@{/login}">Попробовать ещё раз</a>
        <a th:href="@{/registration}">Создать аккаунт</a>
    </div>
    <div th:case="*">Неизвестная ошибка</div>
</div>
</body>
</html>