<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../resources/css/bootstrap.css" />
    <link rel="stylesheet" href="../resources/css/bootstrap-theme.css" />
</head>
<body>
<h1>Пожалуйста, заполните форму:</h1>

<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <p>Логин :      <input type="text" th:field="*{login}" /></p>
    <p>Пароль :   <input type="text" th:field="*{password}" /></p>
    <p>Полное имя :  <input type="text" th:field="*{fullName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>